---
apiVersion: v1
kind: Service
metadata:
  name: demo
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
    - name: metrics
      port: 53
      protocol: TCP
      targetPort: 8080
  selector:
    app: demo
